<?xml version="1.0" encoding="utf-8"?><!--
  ~ Nextcloud - Android Client
  ~
  ~ SPDX-FileCopyrightText: 2024 TSI-mc <surinder.kumar@t-systems.com>
  ~ SPDX-FileCopyrightText: 2016-2024 Nextcloud GmbH and Nextcloud contributors
  ~ SPDX-License-Identifier: AGPL-3.0-or-later OR GPL-2.0-only
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:theme="@style/Theme.ownCloud.noActionBar.Login"
            android:name="com.nextcloud.authorization_method.AuthorizationMethodActivity"
            android:exported="false" />

    </application>

</manifest>